<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.epay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_epay_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Login_signup">

        <!-- MainActivity is now the launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Signup_Activity" android:exported="false" />
        <activity android:name=".DashboardActivity" android:exported="false"/>
        <!--  Other Activities  -->
        <activity android:name=".Contacts" android:exported="true"/>
        <activity android:name=".SuccessActivity" android:exported="false"/>
        <activity android:name=".PinActivity" android:exported="false"/>
        <activity android:name=".AmountActivity" android:exported="false"/>
    </application>
</manifest>
